language: php

php:
- 7.2
- 7.3
- 7.4

install:
- composer install --prefer-dist --no-interaction --no-suggest

script:
- vendor/bin/phpstan analyse
- vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
- bash <(curl -s https://codecov.io/bash)
